.main {
  height: 100% !important;
  display: flex;
  flex-direction: column;
}

/* Header */
.header {
  position: fixed;
  width: 100%;
  height: 70px;
  background: #f6931f;
}

.header ul {
  display: flex;
  flex-direction: row;
  float: right;
  margin: 2% 2%;
  margin-right: 10%;
}

.header ul li {
  margin-left: 10%;
}

.header ul li a {
  color: #fff;
}

/* Featured week */
.title-container {
  position: absolute;
  margin: 1% 4%;
  color: #f6931f;
  font-size: 24px;
  font-weight: 700;
}

.featured-week {
  display: flex;
  flex-direction: row;
  margin-top: 8%;
  width: 100%;
  height: 70%;
}

.container-featured-main {
  width: 70%;
  margin: 5% 4%;
}

/* feature 02 image */
.main-featured-image {
  width: 100%;
  height: 90%;
}

.title-featured {
  margin-top: 2%;
  font-size: 22px;
  font-weight: 700;
}

.description-featured {
  color: #616161;
  font-size: 14px;
  margin-top: 1%;
}

.container-featured {
  width: 60%;
  margin: 5% 1%;
}

.text-featured-item {
  margin-left: 3%;
}

.featured-item-list-horizontal {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 30%;
}

.title-feature-list-item {
  font-size: 18px;
  font-weight: 700;
}

.link-more {
  cursor: pointer;
  color: #f6931f;
  margin-top: 4%;
}

/* featured 02 image*/
.featured-image {
  width: 30%;
  height: 70%;
}

/* featured list vertical */
.container-featured-item-list-vertical {
  width: 100%;
  margin-top: 3%;
}

.title-main-container {
  position: absolute;
  margin: 1% 4%;
  color: #f6931f;
  font-size: 24px;
  font-weight: 700;
}

.item-fetured-vertical {
  display: flex;
  flex-direction: row;
  height: 100%;
  margin-left: 5%;
}

.featured-item-list-vertical {
  display: flex;
  flex-direction: column;
  margin: 5% 1%;
  width: 50%;
}

.featured-image-vertical {
  width: 100%;
  height: 200px;
  margin-bottom: 5%;
}

/* email container for news requests */
.main-container-email {
  display: flex;
  flex-direction: row;
  padding: 7% 0;
  width: 100%;
  background: #F6931F;
}

.main-container-email form {
  margin: auto;
}

.text-container {
  width: 45%;
  margin: 1% 4%;
  color: #fff;
}

.text-decription {
  margin-top: 5%;
}

.container-form-email {
  margin: 1% 5%;
  width: 27%;
}

.input {
  outline: none;
  color: #fff;
  padding: 5%;
  border-radius: 14px;
  border: none;
  width: 100%;
  background: #C47A23;
  text-align: center;
  font-size: 16px;
}

.btn-submit-email {
  outline: none;
  cursor: pointer;
  padding: 4%;
  margin: 8% 30%;
  width: 50%;
  border: none;
  border-radius: 14px;
  color: #f6931f;
  font-size: 16px;
}

/* container user testimonial */
.main-container-user-testimonial {
  width: 100%;
  height: 50% !important;
}

.footer {
  width: 100%;
  padding: 1% 0;
  background: #1F1F1F;
  text-align: center;
  color: #fff;
}


::-webkit-input-placeholder {
  color: #fff;
}

:-moz-placeholder {
  /* Firefox 18- */
  color: #fff;
}

::-moz-placeholder {
  /* Firefox 19+ */
  color: #fff;
}

:-ms-input-placeholder {
  color: #fff;
}
