@media (min-width: 1200px) {
  /* btn submit */
  .btn-submit {
    margin: 10% auto 0;
  }

  /* container text */
  .container-info {
    width: 50%;
  }

  /* container formulario */
  .form-inputs {
    width: 60%;
  }

  .container-text {
    width: 50%;
  }

  .container-main-form {
    width: 50%;
  }
}

@media (max-width: 1200px) {
  /* btn submit */
  .btn-submit {
    margin: 10% auto 0;
  }

  /* container text */
  .container-info {
    width: 50%;
  }

  /* container formulario */
  .form-inputs {
    width: 60%;
  }

  .container-text {
    width: 50%;
  }

  .container-main-form {
    width: 50%;
  }
}

@media (max-width: 780px) {
  /* container main */
  .main {
    flex-direction: column;
  }

  /* formulario */
  .container-info {
    width: 100%;
  }

  .form-inputs {
    width: 60%;
  }

  /* button submit */
  .btn-submit {
    margin: 5% auto;
  }

  /* container text */
  .main-text {
    width: 100%;
  }

  .container-info {
    width: 100%;
  }

  .container-text {
    width: 50%;
  }

  .container-main-form {
    width: 100%;
  }
}

@media (max-width: 480px) {
  /* container info */
  .container-info {
    width: 100%;
  }

  /* container formulario */
  .form-inputs {
    width: 80%;
  }

  .container-text {
    width: 80%;
  }
}

.main {
  height: 100%;
  display: flex;
}

.container-info {
  height: 100%;
  display: flex;
}

.container-main-form {
  height: 100%;
  background: #f6931f;
  text-align: center;
  font-size: larger;
}

.main-text {
  height: 20%;
  width: 70%;
  margin: 10% 10%;
}

.span-text {
  color: #2e2e2e;
  margin-top: 5%;
  font-size: 21px;
}

.image-info {
  margin: 10% auto 0;
}

.image {
  width: 100%;
}

.container-text {
  margin: 3% auto 0;
}

.text-info-inputs {
  color: #fff;
  margin: 20% auto 0;
}

.form-inputs {
  display: flex;
  flex-direction: column;
  margin: 10% auto 0;
}

.inputs {
  outline: none;
  color: #fff;
  margin-top: 10%;
  padding: 5%;
  background: #c47a23;
  border-radius: 14px;
  border: none;
  text-align: center;
}

.btn-submit {
  outline: none;
  cursor: pointer;
  color: #f6931f;
  width: 30%;
  padding: 2%;
  border-radius: 14px;
  border: none;
  font-size: 18px;
}

::-webkit-input-placeholder {
  color: #fff;
}

:-moz-placeholder {
  /* Firefox 18- */
  color: #fff;
}

::-moz-placeholder {
  /* Firefox 19+ */
  color: #fff;
}

:-ms-input-placeholder {
  color: #fff;
}
